.header-div{
    padding: 1rem 2rem;
    background-color: rgb(220, 208, 208);
}
.header-div {
    position: relative;
}

.social-icons {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    gap: 15px;
}

.social-icons a i {
    color: #000;
    transition: transform 0.2s;
}

.social-icons a:hover i {
    transform: scale(1.2);
}
