<div class="header-div position-relative">
    <div class="text-center">
        <h1 class="display-4">Sohan Rai</h1>
        <h1>Software Developer</h1>
    </div>

    <div class="social-icons">
        <a href="https://www.linkedin.com/in/sohanrai07/" target="_blank">
            <i class="fa-brands fa-linkedin fa-2x" style="color: #0079d6;"></i>
        </a>
        <a href="https://github.com/sohanrai07" target="_blank">
            <i class="fa-brands fa-github fa-2x" ></i>
        </a>
    </div>
</div>
