.tag {
  display: inline-block;
  padding: 4px 10px;
  background-color: #ff001f;
  color: #495057;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: capitalize;
  border: 1px solid #ced4da;
  cursor: default;
  user-select: none;
  color: white;
}
