<nav class="navbar navbar-expand-md border-bottom mb-3 navbar-custom">
  <div class="container">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link text-color" routerLink="/home" routerLinkActive="text-selected" style="text-decoration:none">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-color" routerLink="/portfolio" routerLinkActive="text-selected" style="text-decoration:none">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-color" routerLink="/resume" routerLinkActive="text-selected" style="text-decoration:none">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-color" routerLink="/contact" routerLinkActive="text-selected" style="text-decoration:none">Contact</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
