<nav class="navbar-expand-md border-bottom mb-3" style="background-color: rgb(82, 78, 78) !important;">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="list-item">
                <a class="nav-link text-color" routerLink="/home" routerLinkActive="text-selected" >Home</a>
            </li>
            <li class="list-item">
                <a class="nav-link text-color" routerLink="/portfolio" routerLinkActive="text-selected">Portfolio</a>
            </li>
            <li class="list-item">
                <a class="nav-link text-color" routerLink="/resume" routerLinkActive="text-selected">Resume</a>
            </li>
            <li class="list-item">
                <a class="nav-link text-color" routerLink="/contact" routerLinkActive="text-selected">Contact</a>
            </li>
        </ul>
    </div>
</nav>